@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,700&display=swap');
:root{
    --red-color: #88232b;
    --heading-position-bottom: 14em;
}
body{
    margin: 0;
    padding: 0;
    padding-left: 13.5em;
    padding-right: 13.5em;
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}
.container{
    background-color: #ffffff;
    padding: 1.5em;
    box-sizing: border-box;
}
.header-pageNum{
    display: flex;
    justify-content: space-between;
}
.page-number{
    font-style: italic;
    font-weight: 700;
    margin-top: 3em;
    margin-bottom: 0;
}
hr{
    border-top: 2px solid #949494;
}
.header-para{
    text-align: justify;
}
.top-headline{
    font-size: 6em;
    text-transform: uppercase;
    font-weight: 900;
    text-align: justify;
    letter-spacing: 0.025em;
}
.top-content{
    display: flex;
    justify-content: space-between;
}
.top-left{
    max-width: 40%;
    width: 35%;
}
.text-justify{
    text-align: justify;
}
.caption-section{
    width: 20em;
    text-align: right;
    position: absolute;
    left: 54em;
    bottom: 7em;
}
.text-white{
    color: #ffffff;
}
.red-badge{
    background-color: var(--red-color);
    clip-path: polygon(0 0, 89% 0, 100% 100%, 0% 100%);
    padding: 0.25em 1em 0.25em 0.25em;

}
.black-badge{
    text-align: center;
    background-color: #000000;
    padding: 0.5em;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 15em;
    margin-bottom: 0.5em;
}
.bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.col{
    max-width: 33%;
    width: 32%;
}
.bottom-imgs{
    margin-top: -0.5em;
}

.bottom-sub-heading{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.red-caption{
    font-size: 1.5em;
    text-align: center;
    color: var(--red-color);
    font-weight: 500;
}
.bottom-badge-position{
    position: relative;
    bottom: 1em;
    left: 14em;
    margin-top: -4em;
}
.footer{
    display: flex;
    justify-content: space-between;
}

.footer h5{
    margin-top: 0.25em;
    margin-bottom: 1em
}